<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/homepage.css">
    <script src="https://kit.fontawesome.com/0c459f6576.js" crossorigin="anonymous"></script>

    <title>Homepage | Bigya</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar_boxes box1"><h3>Bigya</h3></div>
        <div class="navbar_boxes box2"><h3>Our Services</h3></div>
        <div class="navbar_boxes box3"><h3>Expert</h3></div>
        <div class="navbar_boxes box4">
            <i class="fas fa-search"></i>
        </div>
        <div class="navbar_boxes box5">
            <input type="search" name="" id="" class="search-feild" placeholder="Search">
        </div>
        <div class="navbar_boxes box6"><h3>Login</h3></div>
        <div class="navbar_boxes box7"><h3>Signup</h3></div>
    </div>

    <div class="below-navbar text-white "> 
        <div class="box box1 discription"><h1>Need an Expert who can</h1></div>
        <div class="box box2 discription"><h1>do your job</h1></div>
        <div class="box3">
            <div class="box box3-left">
                <i class="fas fa-search"></i>
            </div>
            <div class="box box3-right">
                <input type="search" name="" id="" placeholder="Search your expert....">
            </div>

        </div>
        <div class="box box4">
            <h1>bigya is here to help you</h1>
        </div>
        </div>
    </div>
    
</body>
</html>