@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    box-sizing : border-box;
    
}
body {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    /* border: 2px; */
    margin: 0;
    background-color: #f2f2f2;
    /* font-family: "Quicksand" sans-serif; */

    
}
.login-left{
    /* border-style:double;
    border-width: 3px; */
    margin: 10px;
    padding: 100px;
    width:50%;




}
 .login-right{
    /* border-style:dotted;
    border-width: 2px; */
    width:50%;
    height: 500px;
    position:relative;

   



}
.maindiv{
    display: flex;
    flex-direction: row;

}
.img{
    height:665px;
    width:650px;
   
    
/*        
        display: block;
        margin:190px;
        /* margin-left: auto;
        margin-right: auto; */
        
        
      
}
/* .box{
    padding: 3px;

} */
input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.btn:hover:hover {
    background-color: #3e8e41;
}

/* .btn:hover{

    background-color:burlywood;
    cursor:pointer;
} */
.batan{
    padding: 20px;
    margin-left: 120px;
    margin-right:0px;
}
.login-left{
    
   
        /* margin-left:60px; */
        background-color: #ffffff;
        padding: 100px;
        height:665px;
        max-width: 800px;
        margin: 0 auto;
        /* border-radius: 10px; */
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
p{
    color:#2587be;
}
.em{
    padding-right: 35px;
}
.pw{
    padding-right: 10px;
}