<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign UP</h1>
   
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username">
        <label for="">First Name </label>
        <input type="text" name="fname" id="fname" placeholder="Enter your First Name">
        <label for="">Last Name </label>
        <input type="text" name="lname" id="lname" placeholder="Enter your Last Name">
        <label for="">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter your Email">
        <label for="">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password">
        <button type="submit">Sign UP</button>
    </form>
</body>
</html>