@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');



*{
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: helvetica;
}

/* upto here defalult */


/* Favorable */

.text-red{
    color: #e63946;
}

.text-light{
    color:  #f4f4f4;
}

.text-white{
    color:#FFFFFF;
}


.text-black{
    color: #333;
}

.text-grey{
    color: #555;
}

.text-green{
    color: #00905D;
}

.border-color{
    color:  rgba(127,159,177,0.3);
}



/* ######## styling of navigatin bar */

.navbar{
    border: 0px solid red;
    height: 56px;
    display: grid;
    grid-template-columns: 2fr .5fr .5fr 2fr 0.5fr 1fr;
}

.allbox{
    border: 0px solid green;
}



input[type=search]{
    margin-top: 7px;
    margin-left: 6rem;
    height: 40px;
    width: 273px;
    border-radius: 20px;
    border-width: 1.5px;
    border-color: rgba(127,159,177,0.3);
    text-align: center;
}
.box4{
    position: relative;
}

.search-icon{
    position: absolute;
    margin-left: 7rem;
    margin-top: 1.2rem;
}

.bigya, .our-services, .expert, .signup, .login{
    margin-top: 1rem;
}
.bigya{
    margin-left: 5rem;
}

.expert{
    margin-left: 2rem;
}









/* styling of just below navbar */

.below-navbar .box7{
    background: url('/static/lady\ with\ laptop.jpg');
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}










