@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto');

*{                 
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}


body{

    font-family: helvetica;
}

/* upto here defalult */




/* Favorable */

.text-red{
    color: #e63946;
}

.text-light{
    color:  #f4f4f4;
}

.text-white{
    color:#FFFFFF;
}


.text-black{
    color: #333;
}

.text-grey{
    color: #555;
}

.border-color{
    color:  rgba(127,159,177,0.3);
}



/* styling of signup page */

.signup-container{
    border: 1px solid #555;
    border-radius: 1rem;
    height: 522px;
    width: 472px;
    margin-left: 28rem;
    margin-top: 4.3rem;
    border-color: rgba(127,159,177,0.3);
    display: grid;
    grid-template-rows:75px repeat(6, 1fr) 35px 35px 35px 30px;
}



a{
    text-decoration: none;
}


.signup-container .box1{
    text-align: center;
}

.signup-container .box1 .create-account{
    margin-top: 1.5rem;
    font-size: 25px;
}


.signup-container .box2{
    display: grid;

}

.signup-container .box3, .signup-container .box4, .signup-container .box5, .signup-container .box6{
    width: 337px;
}


.signup-container .box2{
    display: grid;
    grid-template-columns: 11rem 10px;

}

.box2 input[type=text]{
    height: 35px;
    width: 160px;
    text-align:center ;
    margin-left: 4rem;
    border-radius: 7px;
    border-width: 0.5px;
    border-color: rgba(127,159,177,0.3);
}


.box3 input[type=email]{
    
    text-align: center;
    margin-left: 4rem;
    height: 35px;
    width: 339px;
    border-radius: 7px;
    border-width: 1.5px;
    border-color: rgba(127,159,177,0.3);
}


.box4 input[type=number]{
    
    text-align: center;
    margin-left: 4rem;
    height: 35px;
    width: 339px;
    border-radius: 7px;
    border-width: 1.5px;
    border-color: rgba(127,159,177,0.3);
}


.box5 input[type=password]{
    
    text-align: center;
    margin-left: 4rem;
    height: 35px;
    width: 339px;
    border-radius: 7px;
    border-width: 1.5px;
    border-color: rgba(127,159,177,0.3);
}


.box6 input[type=password]{
    
    text-align: center;
    margin-left: 4rem;
    height: 35px;
    width: 339px;
    border-radius: 7px;
    border-width: 1.5px;
    border-color: rgba(127,159,177,0.3);
}


.box7 input[type="submit"] {
    display: block;
    background:#07AE72;
    height: 35px;
    width: 340px;
    text-align: center;
    margin-left: 4rem;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    border-width: 0px;
}



.signup-container .box8{
    display: flex;
    margin-top: 0rem;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    justify-content:space-between;
}


.signup-container .box8 .left-boundary{
    border: 0.1px solid rgba(127,159,177,0.3);
    width: 7rem;
    height: 0rem;
    margin-top: 0.4rem;
    margin-left: 5rem;
}
.signup-container .box8 .right-boundary{
    border: 0.1px solid rgba(127,159,177,0.3);
    border-width: 0.003px;
    width: 7rem;
    height: 0rem;
    margin-top: 0.4rem;
    margin-right:5.8rem;
}

.signup-container .box8 .or{
    margin-right:0.5rem ;
    font-size: 14px;
    font-weight: 500;
}


.signup-container .box9 .google{
    text-align: center;
    
}

.signup-container .box10 .facebook{
    text-align: center;}
  
.box10 .facebook a{
    font-family:sans-serif;
    font-size: 14px;
    color: black;
} 

.box9 .google a{
    font-family:sans-serif;
       font-size: 14px;
    color: black;
}



.signup-container .box11 .already{
    font-size: 14px;
    text-align: center;
    color:rgba(0,0,0,0.6);
    font-family:sans-serif;
    font-weight: 500;

}

.signup-container .box11 a{
    text-decoration: none;
    color: #00905d;
}
