<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/homepage.css">
    <script src="https://kit.fontawesome.com/0c459f6576.js" crossorigin="anonymous"></script>
</head>
<body>


    <!-- Navigation Bar start -->
    <div class="homepage-navbar">
        <div class="allbox box1">
            <div class="bigya">
                <a href="./homepage.html">Bigya</a>
            </div>
        </div>


        <div class="allbox box2">
            <div class="our-services">
                <a href="#">Our Services</a>
            </div>
        </div>


        <div class="allbox box3">
            <div class="expert">
                <a href="#">Bigya</a>
            </div>
        </div>


        <div class="allbox box4">
            <i class="search-icon fa-solid fa-magnifying-glass"></i>
            <div class="navbar-search">
                <input type="search" name="" id=""placeholder="Search...">
            </div>
        </div>


        <div class="allbox box5">
            <div class="login">
                <a href="./login.html">Login</a>
            </div>      
        </div>


        <div class="allbox box6">
            <div class="signup">
                <a href="./signup.html">Signup</a>
            </div> 
        </div>
    </div> 
 <!-- Ending of Navigation Bar -->





 <!-- Homepage -->

 <div class="background-image">
    <div class="background-content">
        <div class="text-one">
            <p>Need an expert who can </p>
        </div>

        <div class="text-two">
            <p>do your job ?</p>
        </div>

        <div class="text-three">
            <i class="homepage-search-icon fa-solid fa-magnifying-glass"></i>
            <input type="search" name="" id="">

        </div>
        <div class="text-four">
            <p>Bigya is here to help you </p>
        </div>
    </div>

 </div>


<!-- End of Homepage -->



<!-- Training -->

</body>
</html>