<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/homepage.css">
    <link rel="stylesheet" href="/static/tailwind.css">
    <script src="https://kit.fontawesome.com/0c459f6576.js" crossorigin="anonymous"></script>
</head>
<body>
    <main class="whole">


    <!-- Navigation Bar start -->
    <div class="navbar"><div class="homepage-navbar">
        <div class="allbox box1">
            <div class="bigya">
                <a href="./homepage.html">Bigya</a>
            </div>
        </div>


        <div class="allbox box2">
            <div class="our-services">
                <a href="#">Our Services</a>
            </div>
        </div>


        <div class="allbox box3">
            <div class="expert">
                <a href="#">Bigya</a>
            </div>
        </div>


        <div class="allbox box4">
            <i class="search-icon fa-solid fa-magnifying-glass"></i>
            <div class="navbar-search">
                <input type="search" name="" id=""placeholder="Search...">
            </div>
        </div>


        <div class="allbox box5">
            <div class="login">
                <a href="./login.html">Login</a>
            </div>      
        </div>


        <div class="allbox box6">
            <div class="signup">
                <a href="./signup.html">Signup</a>
            </div> 
        </div>
    </div> 
 <!-- Ending of Navigation Bar -->

</div>



 <!-- Landing (Homepage) page -->

<header class="background-image">

        <div class="text-one">
            <p class="text-upper">Need an expert who can </p>
            <p class="text-lower">do your job ?</p>
        </div>


        <div class="text-two">
            <i class="homepage-search-icon fa-solid fa-magnifying-glass"></i>
            <div><input type="search" name="" id="search_homepage" placeholder="Search Your Experts .....">
        </div></div>
        


        <div class="text-three">
            <p class="help-you">Bigya is here to help you </p>
        </div>
</header>



<!-- End of landing page -->



<!-- Training -->
<div class="training">
    <div class="heading">
        <p>Expand Your Skill Training With Bigyas</p>
    </div>
    <div class="discription">
        <p>Our Experts will provide you free training on their respective field every week. All you have to do is <br> <p class="text-continue">to fill the registration form to secure your seat for training.</p> </p>
    </div>
</div>

<!-- end of training section -->



</main>
</body>
</html>