<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/homepage.css">
    <script src="https://kit.fontawesome.com/0c459f6576.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <div class="allbox box1"><p class="bigya">Bigya</p></div>
        <div class="allbox box2"><p class="our-services">Our Services</p></div>
        <div class="allbox box3"><p class="expert">Experts</p></div>
        <div class="allbox box4">
            <i class="search-icon fa-solid fa-magnifying-glass"></i>
            <input type="search" name="" id=""placeholder="search">
        </div>
        <div class="allbox box5">
            <div class="login">
                <a href="./login.html">Login</a>
            </div>
            
        </div>
        <div class="allbox box6">
            <div class="signup">
                <a href="./signup.html">Signup</a>
            </div>
           
        </div>
    </div>  
</body>
</html>