<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Login</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/v4-shims.min.js" integrity="sha512-wClfKJfh+9jD9QuJjurS6L5kPvT1vojiGkd2BjQ0aPL6ptsnoNNvCmNwrISYeIoaxKfOmbnI8ti3d/WjKztymQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/0c459f6576.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="l-container">
        <!-- <div class="allbox box0"></div> -->
        <div class="l-allbox l-box1"><p class="l-sign_up">Login To Bigya</p></div>
        <form action="" method="">
            <div class="l-allbox l-box2">
                <i class="l-u-logo fa-solid fa-user"></i>
                <input type="text" name="" id="" placeholder="Username Or Email" required></div>
        <div class="l-allbox box3">
            <i class="l-u-pwd fa-solid fa-lock"></i>
            <input type="password" name="" id="" placeholder="Password" required ></div>
        <div class="l-allbox l-box4">
            <input class="l-checkbox" type="checkbox" name="" id="">
            <div class="l-remember_me"><p class="l-remember-me">Remember Me</p></div>
            <div class="l-forgot_password"><a class="l-forgot-pwd" href="#">Forgot Password ?</a></div>
        </div>
        <div class="l-allbox box5"><input type="submit" class="l-submit-button" value="Login"></div>
        </form>
        
        
        <div class="l-allbox l-box6">
            <div class="l-left-boundary"></div>
            <div class="l-or">or</div>
            <div class="l-right-boundary"></div> 
        </div>
        <div class="l-allbox l-box7">
            <i class="l-google fa-brands fa-google"></i>
            <a class="l-fb_google" href="">Sign in with Google</a>
        </div>
        <div class="l-allbox l-box8">
            <i class="l-facebook fa-brands l-fa-facebook"></i>
            <a class="l-fb_google" href="">Sign with Facebook</a>
        </div>
        <div class="l-allbox box9"><p class="l-end-text">New to Bigya ?  
            <a href="./signup.html"> Create an Account</a></p></div>
    </div>
</body>
</html>