<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/static/signup.css">
    <script src="https://kit.fontawesome.com/0c459f6576.js" crossorigin="anonymous"></script>
</head>
<body>
    <form action="">
        <div class="signup-container">
            <div class="allbox box1">
                <p class="create-account">Create your account</p>
            </div>


            <div class="allbox box2">
                <div class="fn">
                <input type="text" placeholder="First name" required>
                </div>
                <div class="ln">
                <input class="ln" type="text" placeholder="Last name" required>
                </div>
            </div>


            <div class="allbox box3"><input type="email" name="" id=""placeholder="Enter your email"required>
            </div>


            <div class="allbox box4"><input type="number" name="" id=""placeholder="Phone number"required>
            </div>


            <div class="allbox box5"><input type="password" name="" id=""placeholder="Create password"required>
            </div>


            <div class="allbox box6"><input type="password" name="" id=""placeholder="Conform password"required>
            </div>


            <div class="allbox box7"><input type="submit"name="" id=""value="Signup">
            </div>


            <div class="allbox box8">
                <div class="left-boundary"></div>
                <div class="or">or</div>
                <div class="right-boundary"></div>
            </div>


            <div class="allbox box9">
                <div class="google" >
                    <i class="fa-brands fa-google"></i>
                    <a class="fb_google" href="">Sign in with Google</a>
                </div>
            </div>


            <div class="allbox box10">
                <div class="facebook">
                    <i class="fa-brands fa-facebook"></i>
                     <a class="fb_google" href="">Sign with Facebook</a>
                </div>
            </div>

            
            <div class="allbox box11">
                <p class="already">Already have an account ?
                    <a href="./login.html">Login Now</a>
                </p>
            </div>
        </div>
    </form>
</body>
</html>